body {
    background-color: #000;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #111;
    font-family: "Courier New", monospace;
}

canvas {
    border: solid 1px #ddd;
    display: block;
}
